body{
  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  transition: all 0.25 ease-in-out;
}

.App {
  align-items: center;
  align-content: center;
}


.App-header {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 .logo {
  width: 20%;
  align-items: start;
  margin: 12px;
  position: inherit;
 }

 input {
  padding: 12px;
  font-size: 24px;
  margin:12px;
  color: #1f1f1f;
  border: 2px solid #000;
  border-radius: 10px;
 }

.options {
  display:inline-flex;
  padding: 12px;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin:12px;
  color: #1f1f1f;
  border: 2px solid #000;
  border-radius: 10px;
  border: 1.5px solid #1c1c1c;
  
}

p {
  
}
 .form {
  position: relative;
  flex-wrap: nowrap;
  background-color: #355aff;
  margin: 24PX;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 20px 28px 5px #355aff;
  border: 2px solid #1f48ff;
 }

 button {
  margin: 24px 0px 0px 12px;
  display: inline-block;
  padding: 12px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 4px 4px #000;
  transition: all 0.3s ease;
 }

 button:hover {
  margin: 24px 0px 0px 12px;
  display: inline-block;
  padding: 12px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #303030;
  border: 2px solid #1c1c1c;
  border-radius: 10px;
  box-shadow: 6px 6px #ff5252;
  transition: all 0.3s ease;
 }

 .formPic {
  align-items: end;
  
  position: absolute;
  display: inline-block;
  width: 90%;
  margin: 15px 20px 0px 55px;
  z-index: -0;
 }

 .wrapText {
  position: inherit;
  word-wrap:break-word;
  padding: 12px;
  margin: 0;
  flex-wrap: wrap;
  width: 650px;
  text-overflow: clip;
 }
 